.jobList__wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    row-gap: 8px;
}
.job-enter {
    opacity: 0;
}

.job-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.job-exit {
    opacity: 1;
}

.job-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}