.apply{
    width: 127px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-size: 12px;
}