.features{
    border-radius: 8px;
    width: 12vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.employment{
    background-color: rgba(161, 177, 219, 0.317343);
    border: 1px solid rgba(85, 105, 158, 0.3);
    color: #55699E;
}
.benefits{
    background-color: rgba(255, 207, 0, 0.15);
    border: 1px solid #FFCF00;
    color: #988B49;
}
@media (max-width: 576px) {
    .features {
        width: 22vw;
        text-align: center;
    }
}