@media (min-width: 1400px) { 
    .job{
        width: 1200px;
        &__description{
            width: 800px;
        }
    }

}

@media (min-width: 1200px) {
    .job{
        width: 1000px;
        &__description{
            width: 700px;
        }
    }
 }

@media (min-width: 992px) { 
    .job{
        width: 900px;
        background-color: #EFF0F5;
        height: 206px;
        &__saved{
            display: none;
        }
        &__description{
            width: 500px;
        }
        &__posted{
            
            height: 20px;
        }
    }
    ul{
        padding: 0;
    }

 }
 @media (min-width: 768px) { 
    ul{
        padding: 0;
    }
    .job{
        width: 700px;
        height: 206px;
        background-color: #EFF0F5;
        justify-content:space-between;
        column-gap: 0px;
        &__saved{
            display: none;
        }
        &__posted{
            position: absolute;
            top: 16px;
            right: 13px;
            height: 17px;
        }
        &__rate{
            position: absolute;
            top: 17px;
            left: 130px;
        }
        &__description{
            width: 570px;
            
        }
        &__address{
            font-size: 18px;
        }
        &__location{
            width: 145px;
            &__text{
                a{
                    font-size: 18px;
                }
                
            }
        }
    }
 }

 @media (min-width: 576px) {
    ul{
        padding: 0;
    }
    .job{
        width: 500px;
        height: 206px;
        background-color: #EFF0F5;
        justify-content:space-between;
        column-gap: 0px;
        &__title{
            font-weight: 400;
        }
        &__saved{
            display: none;
        }
        &__posted{
            position: absolute;
            top: 16px;
            right: 13px;
            height: 17px;
            font-weight: 14px;
        }
        &__rate{
            position: absolute;
            top: 17px;
            left: 130px;
        }
        &__description{
            width: 360px;
            
        }
        &__address{
            font-size: 18px;
        }
        &__location{
            width: 145px;
            &__text{
                a{
                    font-size: 18px;
                }
                
            }
        }
    }
  }